In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("lalaiga_all_player.csv")

In [3]:
data

,Player Name,Team-name,Age,Position,App,MinP,Goals,Assist,YC,RC,SPG,PS%,AW,MOTM,Rating
0,Robert Lewandowski,Barcelona,34,FW,20(1),1682,15.0,5.0,NaN,1.0,3.8,79,1.6,7.0,7.53
1,Karim Benzema,Real Madrid,35,FW,15,1306,11.0,3.0,1.0,NaN,4.7,87,0.7,4.0,7.45
2,Antoine Griezmann,Atletico,31,AM(CLR) FW,18(7),1693,8.0,8.0,NaN,NaN,2.6,81.5,0.8,5.0,7.45
3,Vinícius Júnior,Real Madrid,22,AM(L) FW,24,2122,8.0,4.0,8.0,NaN,2.5,82.3,NaN,4.0,7.38
4,Pedri,Barcelona,20,AM(CL),18(3),1634,6.0,NaN,2.0,NaN,0.8,88.5,NaN,3.0,7.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537,Carlos Álvarez,Sevilla,19,Midfielder,0(1),9,NaN,NaN,1.0,NaN,NaN,100,NaN,NaN,5.89
538,Tomás Alarcón,Cadiz,24,DMC,2(2),222,NaN,NaN,NaN,1.0,0.5,84.3,0.8,NaN,5.82
539,Álvaro Giménez,Cadiz,31,FW,0(1),16,NaN,NaN,NaN,NaN,NaN,100,NaN,NaN,5.82
540,John Donald,Elche,22,D(C),2(1),151,NaN,NaN,NaN,1.0,NaN,87.5,0.7,NaN,5.71
541,Diego López,Rayo Vallecano,41,GK,1,90,NaN,NaN,NaN,NaN,NaN,70.8,NaN,NaN,4.63

In [4]:
# null 값은 관측되지 않은 값이므로 0으로 대체
data = data.fillna(0)

In [5]:
data

,Player Name,Team-name,Age,Position,App,MinP,Goals,Assist,YC,RC,SPG,PS%,AW,MOTM,Rating
0,Robert Lewandowski,Barcelona,34,FW,20(1),1682,15.0,5.0,0.0,1.0,3.8,79,1.6,7.0,7.53
1,Karim Benzema,Real Madrid,35,FW,15,1306,11.0,3.0,1.0,0.0,4.7,87,0.7,4.0,7.45
2,Antoine Griezmann,Atletico,31,AM(CLR) FW,18(7),1693,8.0,8.0,0.0,0.0,2.6,81.5,0.8,5.0,7.45
3,Vinícius Júnior,Real Madrid,22,AM(L) FW,24,2122,8.0,4.0,8.0,0.0,2.5,82.3,0.0,4.0,7.38
4,Pedri,Barcelona,20,AM(CL),18(3),1634,6.0,0.0,2.0,0.0,0.8,88.5,0.0,3.0,7.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537,Carlos Álvarez,Sevilla,19,Midfielder,0(1),9,0.0,0.0,1.0,0.0,0.0,100,0.0,0.0,5.89
538,Tomás Alarcón,Cadiz,24,DMC,2(2),222,0.0,0.0,0.0,1.0,0.5,84.3,0.8,0.0,5.82
539,Álvaro Giménez,Cadiz,31,FW,0(1),16,0.0,0.0,0.0,0.0,0.0,100,0.0,0.0,5.82
540,John Donald,Elche,22,D(C),2(1),151,0.0,0.0,0.0,1.0,0.0,87.5,0.7,0.0,5.71
541,Diego López,Rayo Vallecano,41,GK,1,90,0.0,0.0,0.0,0.0,0.0,70.8,0.0,0.0,4.63

In [28]:
# 출전수를 주전과 교체로 분리
starter = []
sub = []
for idx, app in enumerate(data["App"]):
    if type(app) == int:
        print(app)
        print(idx)
    else:
        if "(" in app:
            start = app.index("(")
            end = app.index(")")
            starter.append(app[:start])
            sub.append(app[start:end])
        else:
            starter.append(app)
            sub.append(0)

0
16

In [23]:
app_ls = data["App"]

In [25]:
type(app_ls[16])

int

In [12]:
app[0].index("(")

2

In [29]:
data.loc[data.App == 0]

,Player Name,Team-name,Age,Position,App,MinP,Goals,Assist,YC,RC,SPG,PS%,AW,MOTM,Rating
16,Frenkie de Jong,Barcelona,25,D(C) DMC,0,1693,2.0,1.0,2.0,0.0,0.6,90.5,0.8,1.0,7.09